mapa_conectividad.xlsx
Portabilidad.xlsx
servicios_postales.xlsx
telefonia_fija.xlsx
Telefonia_movil.xlsx
Television.xlsx
Datasets\Internet.xlsx
accesos_por_tecnologia.csv
accesos_por_velocidad.csv
accesos_prov_TV.csv
dial_baf.csv
ingresos_TV.csv
ingresos.csv
penetracion_hogares.csv
penetracion_prov_TV.csv
totales_accesos_por_tecnologia.csv
image.png
image-1.png
image.png
penetracion_poblacion.csv